<div class="col-md-6">
    <div class="container p-5 bg-transparent">
        <h1>About</h1>
        <p class="text-dark text-monospace text-justify" style="font-size:large;">Has a SuperAdmin you right to create 9 More Admin</p>

    </div>
</div>

