
@{
    ViewData["Title"] = "Approveda";
}

<div class="container-fluid align-content-center">
    <h2 class="text-center"> User Approved  successful</h2>
    <div class="offset-5">
        <button class="btn btn-primary">
            <a style="color:white;" asp-action="ApprovingUser" asp-controller="Home">
                Back To Approving Page
            </a>
        </button>
    </div>
</div>


