
@{
    ViewData["Title"] = "About";
}
<div class="col-md-6">
    <div class="container p-5 bg-transparent">
        <h1>About</h1>
        <p class="text-dark text-monospace text-justify" style="font-size:large;">Eglobalcare is a hub for community service on the Internet. We envision the site as a meeting place for individuals, providing a communal platform that allows people to see where change is needed, and makes it easy for them to engage. Powered by the largest online opportunities, Eglobalcare is connecting people with nonprofits both large and small. We are constantly developing innovative giving and fundraising tools to make giving flexible and easy.</p>

    </div>
</div>
    

