@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using MLMWebsite.Data
@using MLMWebsite.Models
@model IEnumerable<ApplicationUser>

@{
ViewData["Title"] = "Index";
}

<div class="container bg-white">
    <div class="row">
        <div class="col-md-6">
            <div>
                <a asp-action="Dashboard" asp-controller="Home">Home</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="col-md-6">
            @await Component.InvokeAsync("ProofApproval")
        </div>
    </div>

    </div>
    