
@{
    ViewData["Title"] = "WhatWeDo";
}

<div class="container p-5 bg-transparent">
    <h1>
        What we do
    </h1>
    <div class="col-md-6">
        <p class="text-justify text-monospace text-dark" style="font-size:large;">
            Fundraising– is LIVELINESS affixed with raising funds and other resources for execution of non – profit assignment and agenda focus at communal helpful purposes.
            Eglobalcare’s Main goal is to grow an original network capable of safeguarding effectual raising funds for awareness of welfare agenda.
            Before telling you about the features of the Fund raising Technologies used in our project, we would like to say a few words about the conception of Fund raising as an inherent process of welfare.
            Everyone knows the conception like contributor, giver, supporter, backer, donor….
            These are individuals and legal institutions donating their funds for welfare purposes or implementation of the programs of various non-profit organizations.
            Therefore, along with the current development of welfare, another active group of the welfare movement participants has started to segregate itself.
            They are called FUNDRAISERS
            The individuals or legal institutions involved in the targeted search and engaging the sources of funding into the nonprofit organizations.
            It is worth to note that the Fundraising is not welfare, and the Fundraisers are not a source of welfare donations.
            Fundraising is an activity connected with raising funds and other resources for implementation of non-profit project and programs aimed at socially useful purposes.
        </p>    
    </div>
    
</div>

